.title {
  grid-area: 1/2/2/6;
  height: 30px;
}
.setting {
  grid-area: 1/6/1/7;
  height: 30px;
}
.sidebar {
  grid-area: 2/1/5/2;
}
.sidebar div {
  text-align: left;
  padding: 5px 10px 5px 10px;
  margin: 10px;
  background-color: rgba(60, 118, 244, 0.2);
}
.sidebar a.link {
  text-decoration: none;
  color: black;
}
.konten {
  grid-area: 2/2/7/7;
  margin: 20px;
  padding-left: 20px;
}
.konten p {
  text-align: justify;
  padding: 0px 10px 0px 20px;
}
.profile {
  grid-area: 1/1/2/2;
  height: auto;
}
.grid-container {
  display: grid;
  grid-template-columns: 200px auto auto auto auto 50px;
  grid-template-rows: auto;
  gap: 2px;
  background-color: #2196f3;
  padding: 2px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
  font-size: 15px;
}

/* Style untuk container utama
.container {
  display: flex;
}

/* Style untuk sidebar */
/* .sidebar { */
/* width: 50px; Lebar sidebar */
/* background-color: #000000; Warna latar sidebar */
/* color: #fff; Warna teks sidebar */
/* height: 50px; */
/* } */

/* Style untuk icon di sidebar */
/* .icon {
  padding: 25%;
  cursor: pointer;
} */

/* Style untuk konten utama */
/* .content {
  flex: 1;
  padding: 20px;
} */

/* Style untuk judul */
/* .title {
  text-align: center;
} */

/* .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
} */

/* .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
} */

/* .sidenav a:hover {
  color: #f1f1f1;
} */

/* .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
} */

/* @media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
} */

/* body {
  font-family: "Lato", sans-serif;
} */
